<div class="row-fluid">
  <div class="span5 offset1">
    <span class="label label-important"><h1>List of Prescriptions</h1></span>
      <br />
      <br />
      <br />
      <table class="table table-bordered table-condensed table-stripe table-hover">
        <tr>
          <th>Number</th>
          <th> Date </th>
          <th>Pet</th>
          <th>PDF</th>
          <th>Show</th>
        </tr>
        <% @prescriptions.each do |prescription| %>
          <tr>
            <td><i class="icon-calendar"></i><%= prescription.id %></td>     
            <td><i class="icon-calendar"></i><%= prescription.date %></td>
            <td><i class="icon-calendar"></i><%= prescription.consultation.animal.name %></td>
            <td> <%= link_to 'PDF', consultation_prescription_path(prescription.consultation, prescription, format: :pdf) %></td>   
            <td> <%= link_to 'Show', consultation_prescription_path(prescription.consultation, prescription) %></td>   
          </tr>
        <% end %>
      </table>
      <br />
  </div>
</div>