<div>
 <p></p>
    <div class="popular section-wrapper">
      <div class="flex-header">
        <h2>List of Prescriptions</h2>
      </div>
      <div>
        <table class="table table-bordered table-condensed table-stripe table-hover">
          <tr>
            <th>No:</th>
            <th>Date </th>
            <th>Pet</th>
            <th>View</th>
            <th>Remove</th>
          </tr>
          <% @prescriptions.each do |prescription| %>
            <tr>
              <td><i class="icon-calendar"></i><%= prescription.id %></td>     
              <td><i class="icon-calendar"></i><%= prescription.date %></td>
              <td><i class="icon-calendar"></i><%= prescription.consultation.animal.name %></td>
              <td> <%= link_to consultation_prescription_path(prescription.consultation, prescription)   do %> <i class="fas fa-external-link-alt"></i><% end %></td>  
              <td> <%= link_to prescription_path(prescription) , method: :delete,  data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash fa-1x"></i> <% end %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>
