<h1>Your Consultations</h1>

<%= simple_form_for [@animal, @user, @consultation] do |f| %>
  <%= f.association :animal, selected: @animal %>
  <%= f.association :user, label: "Choose your vet", label_method: :first_name %>
   <%= f.input :date, label: "Sélectionnez vos dates:",
                               as: :string,
                               required: false,
                               input_html: { id: "range_start", class:"form-control", placeholder:"DD/MM/YYYY"} %>
  <%= f.submit "Submit", class: "btn btn-cta" %>
<% end %>