<% if user_signed_in? %>
  <main class="consultation">
    <div class="twilio-video"
    data-sid="<%= ENV["ACCOUNT_SID"] %>"
    data-room="<%= @consultation.url_room %>"
    data-token="<%= @token %>">
      <div class="participant">
      </div>
      <video id="userVideo" autoplay muted="true" ></video>





    </div>
  <% else %>
    <div class="categories section-wrapper">
      <div class="flex-header">
        <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
      </div>
    </div>
  </main>
<% end %>
<%# <%= @consultation.user == current_user ? @animal.user.email : @booking.user.email %>


<div class="bottom-nav">
  <div class="bottom-inner">
    <div class="bottom-main">
      <% if user_signed_in? %>
        <div class="nav-items">
          <div class="nav-item">
            <%= link_to root_path do %>
              <%= image_tag "icon-home.png", :alt => "home icone" %>
              <span>My Profile</span>
            <% end %>
          </div>
        </div>
        <div class="nav-consultation">
          <button>
            <%= link_to root_path do %>
              <%= image_tag "icon-leave.png", :alt => "call icone" %>
            <% end %>
          </button>
        </div>
        <div class="nav-items">
          <div class="nav-item">
            <% if current_user.is_veterinarian %>
              <%= link_to consultations_path do %>
                <%= image_tag "icon-meds.png", :alt => "call icone" %>
                <span>Consultations</span>
              <% end %>
            <% else %>
              <%= link_to animals_path do %>
                <%= image_tag "icon-prescription.png", :alt => "symptoms" %>
                <span>Symptoms</span>
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
