
  <% if user_signed_in? %>


    <main class="consultation">


    <div class="twilio-video"
    data-sid="<%= ENV["ACCOUNT_SID"] %>"
    data-room="<%= @consultation.url_room %>"
    data-token="<%= @token %>">
    </div>



        <div class="remote-media-div text-center">
          <video id="userVideo" autoplay muted="true" ></video>


            <button id='leave-btn'>
              Leave
            </button>


        </div>


<% else %>
  <div class="categories section-wrapper">
    <div class="flex-header">
      <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
    </div>
  </div>
</main>
<% end %>


<%# <%= @consultation.user == current_user ? @animal.user.email : @booking.user.email %>

