<div class="bottom-nav">
  <div class="bottom-inner">
    <div class="bottom-main">
      <% if user_signed_in? %>
        <div class="nav-items">
          <div class="nav-item">
            <%= link_to root_path do %>
              <%= image_tag "icon-home.png", :alt => "home icone" %>
              <span>My Profile</span>
            <% end %>
          </div>
        </div>
        <div class="nav-item-main">
          <div>
            <%= link_to new_consultation_path do %>
              <%= image_tag "icon-call.png", :alt => "call icone" %>
            <% end %>
          </div>
        </div>
        <div class="nav-items">
          <div class="nav-item">
            <% if current_user.is_veterinarian %>
              <%= link_to consultations_path do %>
                <%= image_tag "icon-meds.png", :alt => "call icone" %>
                <span>Consultations</span>
              <% end %>
            <% else %>
              <%= link_to animals_path do %>
                <%= image_tag "icon-prescription.png", :alt => "symptoms" %>
                <span>Symptoms</span>
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
