<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1>Hello <%= current_user.first_name %>,</h1>
        <p>How can we help you <br>
          today ?</p>
      </div>
      <%= image_tag "fred-img.jpg", :alt => "profile image" %>
    </header>
    <main>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <h2>Talk to a vet now!</h2>
          <%= link_to new_consultation_path do %>
            <button class="cta">Start call</button>
          <%end%>
        </div>
      </div>
      <div class="popular section-wrapper">
        <div class="flex-header">
          <h2>My pet symptoms:</h2>
          <%= link_to animals_path do %>
            <button class="cta">See all</button>
          <%end%>
        </div>
      </div>
      <div class="promo">
        <div class="items promo-items">
          <div class="promo-item">
            <div class="promo-img">
              <%= image_tag "icon-logo.png", :alt => "new pet" %>
            </div>
            <div class="promo-info">
              <h3>New pet home</h3>
              <a><%= link_to 'Add pet',  new_animal_path %></a>
            </div>
          </div>
          <% @animals.each do |animal| %>
          <% if animal.user == current_user%>
            <div class="promo-item">
              <div class="promo-img">
                <%if animal.photo.attached?%>
                  <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              </div>
              <div class="promo-info">
                <h3><%= animal.name %></h3>
                <p><%= animal.age %> years old</p>
                <a><%= link_to 'More info', animal_path(animal) %></a>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>

        <% if current_user.is_veterinarian %>
        <div class="popular section-wrapper">
          <div class="flex-header">
            <h2>My prescriptions</h2>
            <%= link_to root_path do %>
              <button class="cta">See all</button>
            <%end%>
            <% @consultations.each do |consultation| %>
              <%= link_to 'Accept New Consultation', consultation_path(consultation)%>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
        </div>
      </div>
    </main>
  <% end %>
</div>
