<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1>Please select your pet </h1>
        <p>You have <%= Animal.count %> pets.</p>
      </div>
    </header>
    <main>
    <div class="main-index-animal" >
      <% @animals.each do |animal| %>
        <div class="show-img">
          <%= link_to symptoms_path(specie_id: animal.specie) do  %>
            <%if animal.photo.attached?%>
              <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% end %>
        </div>
        <h3><%= animal.name %></h3>
        </div>
      <% end %>
    <% else %>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
        </div>
      </div>
    </main>
  <% end %>
</div>
