<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1>Add your new pet</h1>
        <p>Please fill out the form</p>
      </div>
    </header>
    <main>
      <div class= "popular section-wrapper">
        <h3>Add your animal:</h3>
        <%= simple_form_for @animal do |f| %>
          <%= f.input :name %>
          <%= f.input :age %>
          <%= f.input :weight %>
          <%= f.association :specie %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Create new pet", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</main>
<%end%>
</div>
<%= render 'shared/footernavbar' %>
