<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1><%= @animal.name %> 🤍 </h1>
        <p>Your pet ID card</p>
      </div>
        <%if @animal.photo.attached?%>
          <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
    </header>
    <main>

    <div class="wrap-container">
        <div class="categories pet-info">
           <p class="pet-value"><%= @animal.age %> years</p>
        </div>
        <div class="categories pet-info">
           <p class="pet-value"><%= @animal.specie.name%></h3>
        </div>
      </div>
      <div class="popular section-wrapper">
        <div class="flex-header">
          <p class="pet-description">Description :</p>
          <p>We found <%= @animal.name%> in the street with its collar after his owners abandoned him. He is an adult <%= @animal.specie.name %> with a ship.</p>
        </div>
      </div>
      <div class="popular section-wrapper">
        <div class="flex-header">
          <p class="pet-prescription" >Prescriptions :</h2>
        </div>
        <div>
          <table class="table table-bordered table-condensed table-stripe table-hover">
            <tr>
              <th>Date </th>
              <th>Vet</th>
              <th>PDF</i></i></th>
            </tr>
            <% @prescriptions.each do |prescription| %>
              <tr>
                <td><i class="icon-calendar"></i><%= prescription.date %></td>
                <td><%=  prescription.consultation.user.first_name %> </td>
                <td><%= link_to consultation_prescription_path(prescription.consultation, prescription, format: :pdf) do %> <i class="fas fa-download"></i> <% end %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="promo">
        <div class="items promo-items">
        </div>
    </div>

    <% else %>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
        </div>
      </div>
    </main>
  <% end %>
</div>
<%= render 'shared/footernavbar' %>




         <%# <h2>Prescriptions :</h2>
          <p><% @prescriptions.each do |prescription| %>
             <%# <%= prescription.content %>
            <%#<% end %>

