<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1>Hi <%= @animal.name %></h1>
        <p>How can we help you <br>
          today ?</p>
      </div>
      <%= cl_image_tag("Balto") %>
    </header>
    <main>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <h3><%= @animal.name %> Infos :</h3>
        </div>
                  <h3><%= @animal.age %> years old</h3>
          <h3><%= @animal.specie.name %></h3>
      </div>
      <p></p>
      <div class="popular section-wrapper">
        <div class="flex-header">
          <h2>Prescriptions :</h2>
          <p><% @prescriptions.each do |prescription| %>
              <%= prescription.content %>
            <% end %></p>
        </div>
      </div>
      <div class="promo">
        <div class="items promo-items">
        </div>
        <div class="promo-info">
        </div>
      </div>
      <div class="popular section-wrapper">
        <div class="flex-header">
        </div>
      </div>
    <% else %>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
        </div>
      </div>
    </main>
  <% end %>
</div>
